*>*,body,html{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
header {
    min-height: 10vh;
    background: rgb(31, 225, 250);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 10rem;

  }

  header img {
    height: 100px;
    width: 100px;
    padding: 10px;
  }

  .navigation-links {
    list-style: none;
    display: flex;
    gap: 100px;
    padding: 0%;
    margin: 0%;
  }
  
  .navigation-links li a {
    text-decoration: none;
    color: #ffffff;
  }

  .navigation-links li a:hover{
    color: #000000;
  }
  
  .fa-brands {
    width: 4rem;
    color: var(--tertiary-color);
    cursor: pointer;
    margin: 0.5rem 0rem;
    text-align: center;
  }
  
  .fa-brands:hover {
    color: #ffffff;
  }
  
  h2 {
    text-align: center;
    color: black;
  }
 
  
 /* search bar */
  .search-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
  }
  .search-container input {
    width: 50%;
    padding: 10px;
    min-height: 7vh;
    border: none;
    border-radius: 10px 0 0 10px;
    outline: none;
  }
  .search-btn{
    background-color: #8ee451;
    padding: 10px;
    border: none;
    border-radius: 0 10px 10px 0;
    min-height: 7vh;
    cursor: pointer;
  }

 /* end search bar */
  .products {
    border: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 10px;
    background-color: #f5f4f4;
    border: 1px solid #f5f4f4;
  }
  
  .card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }

  main{
    background-color: rgb(238, 238, 238);
    
  }

  footer{
    height: 100px;
    background-color: rgb(255, 0, 0);
  }

  .icons {
    padding: 11px; 
    justify-content: center;
    display: flex;

    
  }
  
  .cont{
    display: flex;
    justify-content: center;
    align-content: center;

  }
#cart-logo {
  font-size: 25px;
  color: #000; 
  cursor: pointer;
}
